.box {
    border: 2px solid palevioletred;
    border-radius: 5px
}
.box .title {
    background: palevioletred;
    color: white;
    padding: 1rem 2rem;
}
.box .content {
    padding: 1rem
}
.box .content .btn-dan {
    background: palevioletred;
    color: white;
    padding: .5rem 2rem;
    border-radius: 2rem
}